
@{
    ViewData["Title"] = "RPi WebRole";

}

<html lang = "en">

<script src="/scripts/jquery-3.1.1.js" ></script>
<script src="/scripts/angular.min.js"></script>
<script src="/app/worker.js"></script>
<script src="/app/controllers/mainCtrl.js"></script>

   <head>
      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      
      <title>@ViewData["Title"]</title>
      
      <!-- Bootstrap -->
      <link href = "/css/bootstrap.min.css" rel = "stylesheet">
      <link href = "/css/rpiapp.css" rel = "stylesheet">
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src = "/js/bootstrap.min.js"></script>
<script>
    var uri = 'api/data';

    $(document).ready(function(){
        var div = document.getElementById('main');
        $.getJSON(uri)
            .done(function(data){
                $.each(data, function(key, item){
                    $('<li>', { text: formatItem(item), id: 'label_' + item.id}).appendTo($('#data'));  
                    
                    var button = document.createElement('button');
                    var text = document.createTextNode('ON ');
                    
                    button.appendChild(text);
                    button.setAttribute('type', 'button');
                    //button.setAttribute('onclick', function(){turnOn_item(item, 0);});
                    button.onclick = function(){
                        turnOn_item(item, 0);
                    };

                    label = document.getElementById('label_' + item.id);
                    label.appendChild(button);

                    var button2 = document.createElement('button');
                    var text2 = document.createTextNode('OFF ');
                    
                    button2.appendChild(text2);
                    button2.setAttribute('type', 'button');
                    //button.setAttribute('onclick', function(){turnOn_item(item, 1);});
                    button2.onclick = function(){
                        turnOn_item(item, 1);
                    };

                    //label = document.getElementById('label_' + item.id);
                    label.appendChild(button2);  
                });
            });
    });

    function formatItem(item){
        return '[' + item.id + '] ' + item.name + ': ' + item.value + '--' + item.gpioId;
    }

    function turnOn_item(item, value){
            var DataModel = new Object();
            DataModel.id = item.id;
            DataModel.name = item.name;
            DataModel.value = value;
            DataModel.gpioId = item.gpioId;

            $.ajax({
                        url: 'api/data/' + DataModel.id,
                        dataType: "json",
                        type: "PUT",
                        // contentType: 'application/json; charset=utf-8',
                        data: DataModel,
                        // async: true,
                        // processData: false,
                        // cache: false,
                        // success: function (data) {
                        //     alert(data);
                        // },
                        // error: function (xhr) {
                        //     alert('error');
                        // }
                    });
            //alert("Hello");

            //location.reload();
    }
    
</script>

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/-->
      <!--[if lt IE 9]>
      <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      
   </head>
   
   <body ng-app="myApp">
<div class="jumbotron text-center">
  <h2>RPi WebAPI: LED Edition</h2>
  <p>Death is awaiting.</p> 
</div>
<div class="container" ng-controller="mainCtrl">
    <div class="col-sm-4" id="main">
         <h3>Data</h3>
        <ul id="data"/>
        {{message}}
    </div>
</div> 
    <audio autoplay="autoplay">
    <source src="/sounds/creamymiddle.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>        
   </body>
</html>


