@{
    ViewData["Title"] = "RPi WebRole";

}


<script src="/scripts/jquery-3.1.1.js" ></script>
<script src="/scripts/angular.js"></script>
<script src="/scripts/angular.min.js"></script>
<script src="/app/worker.js"></script>
<script src="/app/controllers/mainCtrl.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script>
    var uri = 'api/data';

    $(document).ready(function(){
        var div = document.getElementById('main');
        $.getJSON(uri)
            .done(function(data){
                $.each(data, function(key, item){
                    $('<li>', { text: formatItem(item), id: 'label_' + item.id}).appendTo($('#data'));  
                    
                    var button = document.createElement('button');
                    var text = document.createTextNode('ON ');
                    
                    button.appendChild(text);
                    button.setAttribute('type', 'button');
                    //button.setAttribute('onclick', function(){turnOn_item(item, 0);});
                    button.onclick = function(){
                        turnOn_item(item, 0);
                    };

                    label = document.getElementById('label_' + item.id);
                    label.appendChild(button);

                    var button2 = document.createElement('button');
                    var text2 = document.createTextNode('OFF ');
                    
                    button2.appendChild(text2);
                    button2.setAttribute('type', 'button');
                    //button.setAttribute('onclick', function(){turnOn_item(item, 1);});
                    button2.onclick = function(){
                        turnOn_item(item, 1);
                    };

                    //label = document.getElementById('label_' + item.id);
                    label.appendChild(button2);  
                });
            });
    });

    function formatItem(item){
        return '[' + item.id + '] ' + item.name + ': ' + item.value + '--' + item.gpioId;
    }

    function turnOn_item(item, value){
            var DataModel = new Object();
            DataModel.id = item.id;
            DataModel.name = item.name;
            DataModel.value = value;
            DataModel.gpioId = item.gpioId;

            $.ajax({
                        url: 'api/data/' + DataModel.id,
                        dataType: "json",
                        type: "PUT",
                        // contentType: 'application/json; charset=utf-8',
                        data: DataModel,
                        // async: true,
                        // processData: false,
                        // cache: false,
                        // success: function (data) {
                        //     alert(data);
                        // },
                        // error: function (xhr) {
                        //     alert('error');
                        // }
                    });
            //alert("Hello");

            //location.reload();
    }
    
</script>

<style type="text/css">
.bgimg {
    background-image: url('/images/background.jpg');
    font-family: "Robson Celtic";
}
</style>

<div ng-app="myApp">
    <div class="bgimg" ng-controller="mainCtrl">

<font color="white">

<div>
    <h2>@ViewData["Title"]</h2>
</div>

<div id='main'>
    <h3>Data</h3>
    <ul id="data"/>
</div>
        {{message}}


</font>        <!--<img src="/images/background.jpg" title="death is awaiting">-->
    </div>
</div>
  
</html>